.bs-footer {
	padding:0px;
	margin:0px;
}

.bs-footer .vList{
	margin:0px;
}

hr {
	margin:0px;
}

.category {
  width: 90px;
  height:90px;
}

#category-holder {
  padding: 5%;
}

.category-div {
  width: 95px;
  height:115px;
  margin: 1%;
  display: inline-block;
}

.marketing {

margin-top: 50px;

}

body {
    padding-bottom: 40px;
    color: #5a5a5a;
	margin-bottom:0px;
	padding-bottom:0px;
}


	/*Barre de navigation */
    .navbar-wrapper {
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
    }
    .navbar-wrapper .navbar {

    }

    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    .navbar .brand {
      padding: 14px 20px 16px;
      font-size: 18px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    /* Éléments de page */
	.list-view {

	}
	.pagecontent { margin-top: 15px;}
    .pagecontent .span4 {
      text-align: center;
    }
    .pagecontent h2 {
      font-weight: normal;
    }
    .pagecontent .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* articles
    ------------------------- */

    .article-divider {
		margin: 80px 0;
    }
    .article {
		padding-top: 0px;
		overflow: hidden;
    }
    .article-image {
		margin-top: 0px;
    }

    .article-image.pull-left {
		margin-right: 40px;
    }
    .article-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .article-heading {
      font-size: 40px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
	.article .lead {margin-top: 30px}

	.muted { font-size: 0.5em; font-weight: 50;}

    @media (max-width: 979px){
		.container.navbar-wrapper {
			margin-bottom: 0;
			width: auto;
		}

		.navbar-inner {
			border-radius: 0;
			margin: -20px 0;
		}

		.article {
			height: auto;
			padding: 0;
		}

		.article-image.pull-left,
		.article-image.pull-right {
			display: block;
			float: none;
			//max-width: 40%;
			margin: 0 auto 20px;
		}
		.form-search { float:left; padding-bottom: 20px;}
		.list-view {
			margin-top: 20px;
		}
    }

    @media (max-width: 767px) {
		.navbar-inner {
			margin: -20px;
		}

		.marketing .span4 + .span4 {
			margin-top: 40px;
		}

		.article-heading {
			font-size: 20px;
		}

		.article .lead {
			font-size: 18px;
			line-height: 1.5;
		}


		.muted { font-size: 0.5em; font-weight: 50; display:block}
    }